<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninetech - Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9a2e49d3ae.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <img src="img/logo.png" alt="">
            <form action="#">
                <input type="text" name="search" id="search" placeholder="Buscar Producto">
                <button type="submit"><i class="fa-solid fa-search"></i></button>
            </form>
            <ul class="desktop">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Usuario <i class="fa-solid fa-angle-down"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
            <ul>
                <li><a href="#"><i class="fa-solid fa-bars"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li> 
                <li><a href="#"><i class="fa-solid fa-search"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main-product">
            <img class="img-desktop" src="img/teclado.jpg" alt="teclado">
            <img class="img-mobile" src="img/teclado2.jpg" alt="teclado">
            <div>
                <h3>HyperX AlloyFPS</h3>
                <p>Compacto e ideal para juegos FPS en cualquier sitio</p>
                <a href="#">Ver mas <i class="fa-solid fa-chevron-right"></i></a>
            </div>
        </section>
        <h2 class="divisor">CATEGORIAS</h2>
        <section class="categories">
            <article class="main-category">
                <a href="#">
                    <img src="/img/Categorias/arma tu pc.jpg" alt="arma tu pc">
                </a>
            </article>
            <article class="sub-categories">
                <a href="#">
                    <img src="/img/Categorias/teclados.jpg" alt="mouse y teclados">
                </a>
                <a href="#">
                    <img src="/img/Categorias/audio.jpg" alt="audio y video">
                </a>
                <a href="#">
                    <img src="/img/Categorias/hardware.jpg" alt="hardware">
                </a>
            </article>
        </section>
        <h2 class="divisor">OFERTAS</h2>
        <section class="products"> <!--Poner imagenes de productos-->
            <article>
                <div class="details">
                    <h4>Nombre</h4>
                    <p>$1234.56 <span>$2000</span></p>
                    <a href="#">compralo</a>
                </div>
                <div class="foto"></div>
            </article>
            <article>
                <div class="details">
                    <h4>Nombre</h4>
                    <p>$1234.56 <span>$2000</span></p>
                    <a href="#">compralo</a>
                </div>
                <div class="foto"></div>
            </article>
            <article>
                <div class="details">
                    <h4>Nombre</h4>
                    <p>$1234.56 <span>$2000</span></p>
                    <a href="#">compralo</a>
                </div>
                <div class="foto"></div>
            </article>
        </section>
        <h2 class="divisor">PRODUCTOS DESTACADOS</h2>
        <section class="products"> <!--Poner imagenes de productos-->
            <article>
                <div class="details">
                    <h4>Nombre</h4>
                    <p>$1234.56</p>
                    <a href="#">compralo</a>
                </div>
                <div class="foto2"></div>
            </article>
            <article>
                <div class="details">
                    <h4>Nombre</h4>
                    <p>$1234.56</p>
                    <a href="#">compralo</a>
                </div>
                <div class="foto2"></div>
            </article>
            <article>
                <div class="details">
                    <h4>Nombre</h4>
                    <p>$1234.56</p>
                    <a href="#">compralo</a>
                </div>
                <div class="foto2"></div>
            </article>
            <article>
                <div class="details">
                    <h4>Nombre</h4>
                    <p>$1234.56</p>
                    <a href="#">compralo</a>
                </div>
                <div class="foto2"></div>
            </article>
            <article>
                <div class="details">
                    <h4>Nombre</h4>
                    <p>$1234.56</p>
                    <a href="#">compralo</a>
                </div>
                <div class="foto2"></div>
            </article>
            <article>
                <div class="details">
                    <h4>Nombre</h4>
                    <p>$1234.56</p>
                    <a href="#">compralo</a>
                </div>
                <div class="foto2"></div>
            </article>
    </main>
    <footer>
        <figure>
            <img src="img/logo.png" alt="logo">
        </figure>
        <section class="links">
            <article>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </article>
            <article>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </article>
        </section>
    </footer>
</body>
</html>