* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

header img {
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul.desktop {
    display: none;
}

nav li {
    list-style: none;
    margin: 5px;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav form {
    display: none;
}

h3.titulo {
    text-align: center;
    margin: 10px;
}

section.products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto;
    border: 1px solid black;
}

section.products article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;
    width: 100%;
}

section.products article:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

section.products div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section.products div.details {
    margin-bottom: 10px;
}

section.products div input {
    width: 30px;
    text-align: center;
    padding: 3px 0;
}

section.products article img {
    width: 150px;
    height: 100px;
}

section.products button {
    background-color: red;
    color: white;
    border: 1px solid white;
    padding: 3px 10px;
    border-radius: 5px;
}

section.payment {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

section.payment article {
    width: 100%;
    margin: 15px auto;
    border: 1px solid black;
    padding: 10px;
}

section.payment article p {
    margin-bottom: 10px;
}

section.payment article div {
    border-top: 1px solid black
}

section.payment p {
    font-weight: bold;
    font-size: 1.3em;
}

section.payment p.total {
    font-weight: bold;
    font-size: 1.2em;
}

section.payment button {
    background-color: rgb(127, 212, 0);
    color: black;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 1.1em;
}

footer figure {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

footer img {
    width: 100px;
}    

footer section.links {
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 5px;
}

footer section.links li {
    list-style: none;
    margin: 5px;
    display: inline;
}

footer section.links li a {
    margin: 10px 5px;
    text-decoration: none;
    color: black;
}

/*MEDIA QUERIES*/

@media (min-width: 768px) { /*TABLET*/

    nav ul.desktop {
        display: inline-block;
        position: relative;
    }

    nav ul {
        display: none;
    }

    nav ul.desktop li a {
        color: black;
        transition: .3s;
    }

    nav ul.desktop li a:hover {
        color: black;
    }

    nav ul.desktop li a::after {
        content: "";
        display: block;
        background-color: black;
        height: 3px;
        width: 0;
        left: 0;
        transition: .3s;
    }

    nav ul.desktop li a:hover::after {
        width: 100%;
    }

    nav form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }

    nav form input {
        text-align: center;
        border-radius: 5px;
        font-size: 1em;
        width: 100%;
    }

    nav form button {
        font-size: 1em;
        background-color: transparent;
        border: none;
        color: black;
        margin-left: 5px;
    }

}

@media (min-width: 1024px) { /*DESKTOP*/

    header img {
        width: 150px;
    }

    footer section.links {
        font-size: 1.5rem;
    }
    
    footer img {
        width: 150px;
    }

}

@media (min-width: 1360px) {

    nav ul.desktop {
        font-size: 1.2em;
    }

}